.img{
  width: 100vw;
  height: 100vh;
  display: block;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.hidden-image{
  display: none;
}
.fireworks-container{
  position: absolute;
  top: 0;
  left: 0;
}
