<div class="footer-m">
  <div class="cy cx direction-column w-100">
    <a target="_blank" href="https://paluba.media/"><img class="logo-media" height="30" src="../../assets/logo_footer-2.png" alt=""></a>
  </div>
  <div class="cx cy w-100">
    <div class="cyy">
      <img height="70px" src="../../assets/qr.png" alt="">
    </div>
    <a target="_blank" href="https://rs-class.org"><img class="mx-1" height="80px" src="../../assets/registerlogo.png" alt=""></a>
  </div>
  <div class="is-partner text-footer-m w-100">
    <div class="cyy pb-1">{{t.translate('Наши партнеры в Исландии')}}</div>
    <div class="cyy">
      <a target="_blank" href="https://www.nautic.is"><img class="mx-1" height="50" src="../../assets/nautic-is.png" alt=""></a>
    </div>
  </div>
  <div class="center w-100">
    <div class="cx cy direction-column text-footer-m">
      <div>© All Rights Reserved.</div>
      <div>Design by Nautic Rus, 2023</div>
    </div>
    <div class="cxy mt-10 mb-10">
      <div class="cyy">
        <a href="https://t.me/s/nauticrus" target="_blank">
          <img height="24" src="../../assets/telegram.svg" alt="" class="mx-5">
        </a>
      </div>
      <div class="cyy">
        <a href="https://vk.com/nauticrus" target="_blank">
          <img height="24" src="../../assets/vkontakte.svg" alt="" class="mx-5">
        </a>
      </div>
      <div class="cyy">
        <a href="https://www.instagram.com/nauticrus" target="_blank">
          <img height="24" src="../../assets/instagram.svg" alt="" class="mx-5">
        </a>
      </div>
    </div>
  </div>
</div>
