<div class="cx cy">
  <div class="heading-text">Вакансии</div>
</div>
<div class="color-line"></div>
<div class="mini-heading pt-2">Главный конструктор/заместитель (судостроение)</div>
<div class="mini-heading">от 200 000 руб. на руки</div>
<div class="content">
  <div class="text-bold heading">ООО "Наутик Рус"</div>
  <div>— Санкт-Петербург, м. Автово,  Кронштадтская улица, д. 9к4</div>
  <div>— Требуемый опыт работы: более 6 лет</div>
  <div>— Полная занятость, полный день</div>

  <div class="text-bold heading">Условия работы:</div>
  <div>— График работы 5/2.</div>
  <div>— Трудоустройство по Трудовому Кодексу, «белая» заработная плата.</div>
  <div>— Оплачиваемый отпуск 28 календарных дней, ДМС.</div>
  <div>— Комфортный офис рядом с м. Автово.</div>
  <div>— Гибкий график работы.</div>

  <div class="text-bold heading">Обязанности:</div>
  <div>— Ведение нескольких проектов рыболовных судов;</div>
  <div>— Глубокое понимание работы рыбопромысловых судов;</div>
  <div>— Современный подход к проектированию;</div>
  <div>— Разработка и контроль общепроектной документации совместно с отделами КБ;</div>
  <div>— Принятие и согласование принципиальных решений;</div>
  <div>— Взаимодействие с РМРС и судостроительными заводами.</div>


  <div class="text-bold heading">Требования:</div>
  <div>— Высшее техническое образование (судостроение);</div>
  <div>— Опыт работы на рыбопромысловых судах;</div>
  <div>— Опыт работы в конструкторских организациях на руководящих должностях;</div>
  <div>— Знание Правил РМРС, Международных Конвенций, технологий и производственных процессов судостроения;</div>
  <div>— Знание английского языка.</div>

  <hr>
  <div class="bottom">Вы можете отправить нам резюме по адресу <b>office@nautic-rus.ru</b>.</div>

</div>

