.content{
  margin: 0 auto;
  width: 60%;
  font-family: NotoSans-Regular, serif;
  text-align: justify;
  text-indent: 30px;
  color: #212529
}
.medium-text{
  padding-bottom: 1rem;
  font-size: calc(1rem + 0.1vw);
  color: #212529;
}
.heading{
  margin-top: 15px;
}
.bottom{
  padding-bottom: 20px;
}
